In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv("sale_price.csv")
df

     sale_id product_id customer_id sale_price  quantity   sale_date
0       1001       P101       C_001    $150.00       2.0  15/01/2023
1       1002       P102       C_002        $75       3.0  01/20/2023
2       1003       P103       C_001    $250.50       1.0  25/01/2023
3       1004       P101       C_003    $150.00       4.0  01/02/2023
4       1005       P104       C_004     $30.00       NaN  05/02/2023
..       ...        ...         ...        ...       ...         ...
995     1996       P104       C_042    $250.50       4.0  03/29/2023
996     1997       P105       C_014     $30.00       1.0  03/02/2023
997     1998       P104       C_092        $75       NaN  31/03/2023
998     1999       P103       C_063    $250.50       5.0  10/03/2023
999     2000       P103       C_042    $250.50       1.0  21/02/2023

[1000 rows x 6 columns]

In [16]:
# Fill missing quantity with 1 (default)
df['quantity'] = df['quantity'].fillna(1).astype(int)

In [19]:
df['sale_price'] = df['sale_price'].replace('[\$,]', '', regex=True).astype(float)

In [20]:
# Standardize date format
df['sale_date'] = pd.to_datetime(df['sale_date'], format='mixed', errors='coerce')

## Feature Engineering

In [21]:
## Total purchase amount per transaction
df['total_revenue'] = df['sale_price'] * df['quantity']

In [22]:
customer_metrics = df.groupby('customer_id').agg(
    total_purchase_amount=('total_revenue', 'sum'),
    purchase_frequency=('sale_id', 'count'),
    avg_transaction_value=('total_revenue', 'mean')
).reset_index()

In [23]:
# 2. Normalize features
scaler = MinMaxScaler()
scaled_features = scaler.fit_transform(
    customer_metrics[['total_purchase_amount', 'purchase_frequency', 'avg_transaction_value']]
)

In [27]:
#  fill with defaults if you want to keep them
customer_metrics = customer_metrics.fillna(0)

# 2. Normalize again after removing/filling NaNs
scaled_features = scaler.fit_transform(
    customer_metrics[['total_purchase_amount', 'purchase_frequency', 'avg_transaction_value']]
)

# 3. Now apply K-Means
kmeans = KMeans(n_clusters=2, random_state=42, n_init=10)
customer_metrics['cluster'] = kmeans.fit_predict(scaled_features)

C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [28]:
df.isnull().sum()

sale_id            0
product_id         0
customer_id        0
sale_price       200
quantity           0
sale_date          0
total_revenue    200
dtype: int64

In [29]:
# 3. Apply K-Means clustering
kmeans = KMeans(n_clusters=2, random_state=42, n_init=10)
customer_metrics['cluster'] = kmeans.fit_predict(scaled_features)

C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [30]:
# 4. Identify VIP cluster (highest spending)
vip_cluster = customer_metrics.groupby('cluster')['total_purchase_amount'].mean().idxmax()
customer_metrics['VIP_status'] = np.where(
    customer_metrics['cluster'] == vip_cluster, 'VIP', 'Non-VIP'
)

In [33]:
# 5. Merge VIP status back into main dataset (Reverse ETL)
df = df.merge(customer_metrics[['customer_id', 'VIP_status']], on='customer_id', how='left')

# 6. Export enriched dataset
file_path="data_warehouse/sales_data_with_VIP.csv"
df.to_csv(file_path, index=False)
print("âœ… VIP classification complete. File saved as 'sales_data_with_VIP.csv'.")

âœ… VIP classification complete. File saved as 'sales_data_with_VIP.csv'.
   sale_id product_id customer_id  sale_price  quantity  sale_date  \
0     1001       P101       C_001       150.0         2 2023-01-15
1     1002       P102       C_002        75.0         3 2023-01-20
2     1003       P103       C_001       250.5         1 2023-01-25
3     1004       P101       C_003       150.0         4 2023-01-02
4     1005       P104       C_004        30.0         1 2023-05-02

   total_revenue VIP_status_x VIP_status_y
0          300.0      Non-VIP      Non-VIP
1          225.0      Non-VIP      Non-VIP
2          250.5      Non-VIP      Non-VIP
3          600.0      Non-VIP      Non-VIP
4           30.0      Non-VIP      Non-VIP